body {
  background-color: #1b1b1b;
  display: flex;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
